body {
    margin: 0;
    font-family: 'Spectral', serif;
    background-color: rgb(240, 255, 252);
}

main {
    margin: 20px;
}

nav {
    padding: 20px;
    background-color: rgb(143, 188, 171);
    border-bottom: 1px dashed darkslategray;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    color: darkslategray;
}

h2 {
    color: darkslategray;
}

#recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

a {
    text-decoration: none;
    color: darkslategray;
}

img {
    height: 200px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: rgb(143, 188, 171);
}
